{% extends 'base.html' %}

{% block title %}
  Blog
{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block content_title %}
  Posts
{% endblock %}

{% block content %}
    <div class="posts-list">
        {% for cut in cuts %}
            <p><a href="{{ url_for('posts.post_detail', slug=cut.slug)}}" class="posts-line">{{ cut.post_title }} - {{ cut.post_date }}</a></p>
            <p class="posts-list__cut">{{ cut.post_cut|striptags }}</p>
        {% endfor %}
        <pagination>
            <ul class="pages">
                {% for page in pages %}
                    <li {% if page == current_page %} class="active pages__page-item" {% else %} class="pages__page-item"{% endif %}>
                        <a href="./?page={{ page }}" class="pages__page-link">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </pagination>
    </div>
{% endblock %}
