{% extends 'base.html' %}

{% block title %}{{ post.post_title }}{% endblock %}

{% block description %}{{ description }}{% endblock %}

{% block content_title %}{{ post.post_title }}{% endblock %}


{% block content %}
    <div class="posts-list">
        {{ post.post_content | safe }}
    <div class="comments">
        <h2>Comments</h3>
        {% for com in post.comments %}
            <p class="comment-author">{{ com.author }}</p>
            <p class="comment-date">Date: {{ com.comment_date }}</p>
            <p class="comment-text">{{ com.comment_content }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}
