<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans&family=Raleway:wght@300;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/ma5ta-favicon.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>{% block title %}{% endblock %} - Ma5ta.ru</title>
</head>

<body>
    <container>
        <sidebar>
        <sidebar__header>
        <a href="{{- url_for('webapp.index') -}}">
            <img src="{{- url_for('static', filename='img/ma5ta-avatar.png') -}}" alt="Ma5ta avatar" class="logo"></a>
            <a href="{{- url_for('webapp.index') -}}">
                <div class="site-title">
                    <p class="site-name">Ma5ta</p>
                    <p class="site-description">DCS enthusiast</p>
                </div>
            </a>
            </sidebar__header>
            <ul class="menu">
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">General</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {%- if request.path != url_for('webapp.index') -%}
                            <a href="{{- url_for('webapp.index') -}}" class="menu__link">
                            {%- else %}
                            <a href="#" class="menu__link">
                            {% endif -%}
                                    <li class="submenu__subitem submenu__font">
                                    <img src="{{- url_for('static', filename='img/icons/dcs-2.ico') -}}" alt="common dashboard icon" class="tech__icon">
                            {%- if request.path != url_for('webapp.index') -%}
                                    <p class="submenu__subitem__text">Common Dashboard</p>
                            {%- else %}
                                    <p class="submenu__subitem__text active-menu">Common Dashboard</p>
                            {% endif -%}
                                    </li>
                            </a>
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Jets</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {%- for subitem in menu.Jet -%}
                                {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </a>
                                {% else %}
                                <span class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="active-menu submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </span>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Helicopters</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {% for subitem in menu.Helicopter %}
                                {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </a>
                                {% else %}
                                <span class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="active-menu submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </span>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Trainer</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {%- for subitem in menu.Trainer -%}
                                {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </a>
                                {% else %}
                                <span class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="active-menu submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </span>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">WWII</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {% for subitem in menu.WWII %}
                                 {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </a>
                                {% else %}
                                <span class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="active-menu submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                                </span>
                                {%- endif -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                </li>
                {% if request.path != url_for('posts.index') -%}
                    <a href="{{ url_for('posts.index') }}">
                {% else -%}
                    <a href="#">
                {% endif -%}
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                {% if request.path != url_for('posts.index') -%}
                        <p class="menu__item__text">Blog</p>
                {% else %}
                        <p class="menu__item__text active-menu">Blog</p>
                {% endif -%}
                    </div>
                </li>
                </a>
            </ul>
        </sidebar>

        <content style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.9) 100%), url('{{ url_for('static', filename=bkg) }}');background-size:cover;">
            <nav role="navigation">
                <div class="menuToggle">
                    <input type="checkbox" />
                    <span class="burger"></span>
                    <span class="burger"></span>
                    <span class="burger"></span>
                    <ul class="mobile-menu">
                        <ul class="nav__list">
                            <li>
                                <input id="group-1" type="checkbox" hidden />
                                <label for="group-1"><span class="control-menu">&or;</span>General</label>
                                <ul class="group-list">
                                    {%- if request.path != url_for('webapp.index') -%}
                                    <li><a href="{{ url_for('webapp.index') }}">Common Dashboard</a></li>
                                    {%- else %}
                                    <li class="active-menu">Common Dashboard</li>
                                    {% endif -%}
                                </ul>
                            </li>
                            <li>
                                <input id="group-2" type="checkbox" hidden />
                                <label for="group-2"><span class="control-menu">&or;</span>Jets</label>
                                <ul class="group-list">
                                    {%- for subitem in menu.Jet %}
                                        <li>
                                            {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                            {%- else %}
                                                <p class="active-menu menu__link">{{ subitem.text }}</p>
                                            {% endif -%}
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            <li>
                                <input id="group-3" type="checkbox" hidden />
                                <label for="group-3"><span class="control-menu">&or;</span>Helicopter</label>
                                <ul class="group-list">
                                    {%- for subitem in menu.Helicopter %}
                                        <li>
                                            {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                            {%- else %}
                                                <p class="active-menu menu__link">{{ subitem.text }}</p>
                                            {% endif -%}
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            <li>
                                <input id="group-4" type="checkbox" hidden />
                                <label for="group-4"><span class="control-menu">&or;</span>Trainer</label>
                                <ul class="group-list">
                                    {%- for subitem in menu.Trainer %}
                                        <li>
                                            {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                            {%- else %}
                                                <p class="active-menu menu__link">{{ subitem.text }}</p>
                                            {% endif -%}
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            <li>
                                <input id="group-5" type="checkbox" hidden />
                                <label for="group-5"><span class="control-menu">&or;</span>WWII</label>
                                <ul class="group-list">
                                    {%- for subitem in menu.WWII %}
                                        <li>
                                            {%- if request.path != url_for('webapp.stats', slug=subitem.url) -%}
                                                <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                            {%- else %}
                                                <p class="active-menu menu__link">{{ subitem.text }}</p>
                                            {% endif -%}
                                        </li>
                                    {%- endfor -%}

                                </ul>
                            </li>
                            {% if request.path != url_for('posts.index') -%}
                                <a href="{{ url_for('posts.index') }}">
                                    <li>Blog</li>
                            {%- else %}
                                <a href="#">
                                    <li class="active-menu">Blog</li>
                            {% endif %}
                                </a>
                        </ul>
                    </ul>

                </div>
            </nav>
            <h1>
                {% block content_title %}

                {% endblock %}
            </h1>
            {% block content %}
            {% endblock %}
            <footer>
                <div class="contacts">
                    <p class="contacts__p">Contact me:</p>
                    <noindex class="contacts__link">
                    <a href="https://forums.eagle.ru/profile/59958-ma5ta/" target="_blank">DCS Forum</a>
                    </noindex>
                    <noindex class="contacts__link">
                        Ma5ta#7750(Discord)
                    </noindex>
                </div>
                <div class="copyright">
                    <script>
                        let year = new Date;
                        document.write(`&copy Ma5ta.ru, ${year.getFullYear()}`);
                    </script>
                </div>
                <div class="metrika">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=23133346&amp;from=informer" target="_blank" rel="nofollow">
                        <img src="https://informer.yandex.ru/informer/23133346/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="23133346" data-lang="en" />
                    </a>
                    <!-- /Yandex.Metrika informer -->
                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                        (function(m, e, t, r, i, k, a) {
                            m[i] = m[i] || function() {
                                (m[i].a = m[i].a || []).push(arguments)
                            };
                            m[i].l = 1 * new Date();
                            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a
                                .parentNode
                                .insertBefore(k, a)
                        })
                        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                        ym(23133346, "init", {
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true
                        });
                    </script>
                    <noscript>
                        <div>
                            <img src="https://mc.yandex.ru/watch/23133346" style="position:absolute; left:-9999px;" alt="" />
                        </div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                </div>
            </footer>
        </content>
    </container>
</body>
</html>
