{% extends 'base.html' %}

{% block title %}
    Common Dashbord
{% endblock %}

{% block content_title %}
    Common Dashbord
{% endblock %}

{% block content %}
            <div class="graphs">
                <totals>
                    <div class="total total_files">
                        <total__name>Total files</total__name>
                        <total__indicator>14 000</total__indicator>
                    </div>
                    <div class="total total_downloads">
                        <total__name>Total downloads</total__name>
                        <total__indicator>13 M</total__indicator>
                    </div>
                    <div class="total total_users">
                        <total__name>Total users</total__name>
                        <total__indicator>1300</total__indicator>
                    </div>
                    <div class="total updated">
                        <total__name>Updated date</total__name>
                        <total__indicator>2021-10-01</total__indicator>
                    </div>
                </totals>
                <h2>Number of users files</h2>
                <div class="main-graph graph-background">
                    <div class="apex-script">
                        <script>
                            var options = {
                                chart: {
                                    type: 'bar'
                                },
                                series: [{
                                    name: 'sales',
                                    data: [30, 40, 45, 50, 49, 60, 70, 91, 125]
                                }],
                                xaxis: {
                                    categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
                                }
                            }

                            var chart = new ApexCharts(document.querySelector(".main-graph"), options);

                            chart.render();

                        </script>
                    </div>
                </div>
                <div class="detail">
                    <div class="detail__block file-types">
                        <h3>Number of users files</h3>
                        <div class="file-types__graph graph-background">
                            <script>
                                var options = {
                                    chart: {
                                        type: 'bar',
                                        horizontal: true,
                                    },
                                    series: [{
                                        name: 'sales',
                                        data: [30, 40, 45, 50, 49, 60, 70, 91, 125]
                                    }],
                                    xaxis: {
                                        categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
                                    },
                                    plotOptions: {
                                        bar: {
                                            horizontal: true
                                        }
                                    }
                                }
                                var chart = new ApexCharts(document.querySelector(".file-types__graph"), options);

                                chart.render();

                            </script>
                        </div>
                    </div>
                    <div class="detail__block top">
                        <h3>Top users</h3>
                        <div class="top__list graph-background">
                            <div class="table-row table-row__header">
                                <div class="table-row__name">User</div>
                                <div class="table-row__downloads">Downloads</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                            <div class="table-row">
                                <div class="table-row__name">Name</div>
                                <div class="table-row__downloads">125 K</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <noindex class="download-dataframe">
                <a href="https://disk.yandex.ru/d/_iMUiKk1cM-Rcw" rel="nofollow" class="download-dataframe__button">Download dataframe</a>
            </noindex>
{% endblock %}
