<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans&family=Raleway:wght@300;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>
        {% block title %}

        {% endblock %} - Ma5ta.ru
    </title>
</head>

<body>
    <container>
        <sidebar>
        <sidebar__header>
        <a href="{{ url_for('webapp.index') }}">
            <img src="{{ url_for('static', filename='img/ma5ta-avatar.png') }}" alt="Ma5ta avatar" class="logo"></a>
            <a href="{{ url_for('webapp.index') }}">
                <div class="site-title">
                    <p class="site-name">Ma5ta.ru</p>
                    <p class="site-description">Description</p>
                </div>
            </a>
            </sidebar__header>
            <ul class="menu">
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">General</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            <a href="#" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="img/icons/a-10a-icon.png" alt="common dashboard icon" class="tech__icon">
                                    <p class="submenu__subitem__text">Common Dashboard</p>

                                </li>
                            </a>
                            <a href="#" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="img/icons/f-14-icon.png" alt="" class="tech__icon">
                                    <p class="submenu__subitem__text">User`s statistics</p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Jets</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {% for subitem in menu.Jet %}
                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Helicopters</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {% for subitem in menu.Helicopter %}
                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Trainer</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {% for subitem in menu.Trainer %}
                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">WWII</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            {% for subitem in menu.WWII %}
                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="{{ url_for('static', filename=subitem.img) }}" alt="{{ subitem.text }} icon" class="tech__icon">
                                    <p class="submenu__subitem__text">{{ subitem.text }}</p>
                                </li>
                            </a>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <a href="{{ url_for('posts.index') }}">
                    <li class="menu__item">
                        <div class="menu__item__title menu__font">
                            <p class="menu__item__text">Blog</p>
                        </div>
                    </li>
                </a>
            </ul>
        </sidebar>

        <content style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.9) 100%), url('{{ url_for('static', filename=bkg) }}');background-size:cover;">
            <nav role="navigation">
                <div class="menuToggle">
                    <input type="checkbox" />
                    <span class="burger"></span>
                    <span class="burger"></span>
                    <span class="burger"></span>
                    <ul class="mobile-menu">
                        <ul class="nav__list">
                            <li>
                                <input id="group-1" type="checkbox" hidden />
                                <label for="group-1"><span class="control-menu">&or;</span>General</label>
                                <ul class="group-list">
                                    <li><a href="/">1st level item</a></li>
                                    <li><a href="#">1st level item</a></li>
                                </ul>
                            </li>
                            <li>
                                <input id="group-2" type="checkbox" hidden />
                                <label for="group-2"><span class="control-menu">&or;</span>Jets</label>
                                <ul class="group-list">
                                    {% for subitem in menu.Jet %}
                                        <li>
                                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <input id="group-3" type="checkbox" hidden />
                                <label for="group-3"><span class="control-menu">&or;</span>Helicopter</label>
                                <ul class="group-list">
                                    {% for subitem in menu.Helicopter %}
                                        <li>
                                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <input id="group-4" type="checkbox" hidden />
                                <label for="group-4"><span class="control-menu">&or;</span>Trainer</label>
                                <ul class="group-list">
                                    {% for subitem in menu.Trainer %}
                                        <li>
                                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>
                                <input id="group-5" type="checkbox" hidden />
                                <label for="group-5"><span class="control-menu">&or;</span>WWII</label>
                                <ul class="group-list">
                                    {% for subitem in menu.WWII %}
                                        <li>
                                            <a href="{{ url_for('webapp.stats', slug=subitem.url) }}" class="menu__link">{{ subitem.text }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <a href="/blog">
                                <li>Blog</li>
                            </a>
                        </ul>
                    </ul>

                </div>
            </nav>
            <h1>
                {% block content_title %}

                {% endblock %}
            </h1>
            {% block content %}
            {% endblock %}
            <footer>
                <div class="copyright">
                    <script>
                        let year = new Date;
                        document.write(`&copy Ma5ta.ru, ${year.getFullYear()}`);

                    </script>
                </div>
                <div class="metrika">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=23133346&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/23133346/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="23133346" data-lang="ru" /></a>
                    <!-- /Yandex.Metrika informer -->
                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                        (function(m, e, t, r, i, k, a) {
                            m[i] = m[i] || function() {
                                (m[i].a = m[i].a || []).push(arguments)
                            };
                            m[i].l = 1 * new Date();
                            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a
                                .parentNode
                                .insertBefore(k, a)
                        })
                        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                        ym(23133346, "init", {
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true
                        });

                    </script>
                    <noscript>
                        <div><img src="https://mc.yandex.ru/watch/23133346" style="position:absolute; left:-9999px;" alt="" />
                        </div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                </div>
            </footer>
        </content>
    </container>
</body>
</html>
