:root {
    --max-height: 100vh;
}

body {
    font-family: 'Lato', 'Open Sans', 'Raleway', 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

container {
    max-width: 1200px;
    margin: 1% auto;
    display: flex;
    padding-right: 24px;
}

sidebar {
    min-width: 280px;
    min-height: var(--max-height);
    background-color: #253340;
}

header {
    display: flex;
    align-items: center;
    background-color: #486e91;
}

.logo {
    display: block;
    margin: 20px 20px 20px 30px;
}

.site-title {
    display: flex;
    flex-direction: column;
}

.site-name {
    display: block;
    margin: 0px 0px;
    color: #eaebec;
    font-size: 20px;
    font-weight: 700;
}

.site-description {
    display: block;
    margin: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.sidebar-icon {
    background-color: #46c1fa;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    margin: 0px;
    position: relative;
    left: 65px;
}

.sidebar-icon__img {
    position: absolute;
    top: 8px;
    right: 6px;
}

.menu ul {
    list-style: none;
}

.menu {
    padding: 0px;
    position: relative;
}

.menu__item {
    background-color: #253340;
    min-height: 40px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu__item:hover .submenu {
    left: 100%;
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

.menu__font:hover {
    color: #f1a80a;
}

.menu__item__title {
    background-color: #253340;
    min-height: 40px;
    margin: 0px;
    display: flex;
}


.menu__item__text {
    margin: 0px auto auto 30px;
    line-height: 40px;
    height: 40px;

}

.control__menu {
    margin-top: 10px;
    margin-right: 40px;
}

.menu__font {
    color: #ededec;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.submenu {
    min-width: 200px;
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.2s;
    transform: translateX(50px);
    background-color: #486e91;
    padding: 10px 0px 10px 10px;
}

.submenu__subitem__text {
    margin: 5px 10px;

}

.submenu__subitem {
    display: flex;
    box-sizing: border-box;
}

.submenu__font {
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

.submenu__font:hover {
    color: #f1a80a;
}

.submenu__font:active .submenu__subitem {
    background-color: #6d88a0;
}

.tech__icon {
    width: 32px;
    height: 32px;
}

/* VISUALIZATION BLOCK */

h1 {
    margin-top: 30px;
    text-align: center;
    color: #000;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: normal;
}

content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.graphs {
    min-height: calc(var(--max-height) - 75px);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75px;
}


.copyright {
    margin: 10px auto;
}
