<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="menu">
                <p>Menu</p>
            </div>
            <div class="graphs">Visualization</div>
        </div>

        <footer>
            <div class="copyright">
                <script>
                    let year = new Date;
                    document.write(`&copy Ma5ta.ru, ${year.getFullYear()}`);
                </script>
            </div>
            <div class="metrika">
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=23133346&amp;from=informer" target="_blank"
                    rel="nofollow"><img
                        src="https://informer.yandex.ru/informer/23133346/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                        style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
                        title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                        class="ym-advanced-informer" data-cid="23133346" data-lang="ru" /></a>
                <!-- /Yandex.Metrika informer -->
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function (m, e, t, r, i, k, a) {
                        m[i] = m[i] || function () {
                            (m[i].a = m[i].a || []).push(arguments)
                        };
                        m[i].l = 1 * new Date();
                        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a
                            .parentNode
                            .insertBefore(k, a)
                    })
                    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                    ym(23133346, "init", {
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true
                    });
                </script>
                <noscript>
                    <div><img src="https://mc.yandex.ru/watch/23133346" style="position:absolute; left:-9999px;"
                            alt="" />
                    </div>
                </noscript>
                <!-- /Yandex.Metrika counter -->
            </div>
        </footer>
    </div>
</body>

</html>