<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans&family=Raleway:wght@300;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <container>
        <sidebar>
            <sidebar__header>
                <img src="img/cartoon_clouds-1-1.png" alt="Ma5ta avatar" class="logo">
                <div class="site-title">
                    <p class="site-name">Ma5ta.ru</p>
                    <p class="site-description">Description</p>
                </div>

                <div class="sidebar-icon"><img src="img/Menu_Icon.svg" alt="show menu" class="sidebar-icon__img"></div>

            </sidebar__header>
            <ul class="menu">
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">General</p>
                        <p class="control__menu">+</p>
                        <ul class="submenu">
                            <a href="#" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="img/icons/a-10a-icon_buy_active.png" alt="common dashboard icon" class="tech__icon">
                                    <p class="submenu__subitem__text">Common Dashboard</p>

                                </li>
                            </a>
                            <a href="#" class="menu__link">
                                <li class="submenu__subitem submenu__font">
                                    <img src="img/icons/f-14-icon_buy_active.png" alt="" class="tech__icon">
                                    <p class="submenu__subitem__text">User`s statistics</p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Helicopters</p>
                        <p class="control__menu">+</p>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Jets</p>
                        <p class="control__menu">+</p>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Trainer</p>
                        <p class="control__menu">+</p>
                    </div>
                </li>

                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">WWII</p>
                        <p class="control__menu">+</p>
                    </div>
                </li>
                <li class="menu__item">
                    <div class="menu__item__title menu__font">
                        <p class="menu__item__text">Blog</p>
                        <p class="control__menu">+</p>
                    </div>

                </li>
            </ul>
        </sidebar>

        <content style="background: linear-gradient(to bottom, rgba(125, 205, 205, 0.8) 0%, rgba(205, 205, 205, 0.8) 100%), url('img/bkg/default-bkg.jpg');">

            <nav role="navigation">
                <div class="menuToggle">

                    <input type="checkbox" />

                    <span class="burger"></span>
                    <span class="burger"></span>
                    <span class="burger"></span>

                    <ul class="mobile-menu">
                        <ul class="nav__list">
                            <li>
                                <input id="group-1" type="checkbox" hidden />
                                <label for="group-1"><span class="control-menu">&or;</span> First level</label>
                                <ul class="group-list">
                                    <li><a href="/">1st level item</a></li>
                                    <li><a href="#">1st level item</a></li>
                                    <li><a href="#">1st level item</a></li>
                                </ul>
                            </li>
                            <a href="#">
                                <li>About</li>
                            </a>
                            <a href="#">
                                <li>Info</li>
                            </a>
                            <a href="#">
                                <li>Contact</li>
                            </a>
                            <a href="https://erikterwan.com/" target="_blank">
                                <li>Show me more</li>
                            </a>
                        </ul>
                    </ul>

                </div>
            </nav>
            <h1>Common Dashboard</h1>
            <div class="graphs">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas exercitationem, ipsa consequatur at nesciunt assumenda minus consectetur, ratione a aspernatur corporis quasi provident magnam perspiciatis, et sint? Atque voluptates molestiae cumque culpa vitae quaerat dolore magni doloremque earum fugiat ut nesciunt, pariatur maxime provident exercitationem, reprehenderit odit. Voluptate harum necessitatibus aut blanditiis labore ea? Blanditiis aliquid ipsam amet ex nihil ducimus obcaecati, fugiat sequi laborum dolorem vel mollitia qui accusantium, eos, nam! Libero non atque, blanditiis animi perferendis temporibus repudiandae nam excepturi, et assumenda rem quod! Quisquam assumenda quia quasi aliquam rem deserunt, explicabo officiis ea mollitia, quae temporibus, iste.</p>
            </div>
            <footer>
                <div class="copyright">
                    <script>
                        let year = new Date;
                        document.write(`&copy Ma5ta.ru, ${year.getFullYear()}`);

                    </script>
                </div>
                <div class="metrika">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=23133346&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/23133346/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="23133346" data-lang="ru" /></a>
                    <!-- /Yandex.Metrika informer -->
                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                        (function(m, e, t, r, i, k, a) {
                            m[i] = m[i] || function() {
                                (m[i].a = m[i].a || []).push(arguments)
                            };
                            m[i].l = 1 * new Date();
                            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a
                                .parentNode
                                .insertBefore(k, a)
                        })
                        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                        ym(23133346, "init", {
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true
                        });

                    </script>
                    <noscript>
                        <div><img src="https://mc.yandex.ru/watch/23133346" style="position:absolute; left:-9999px;" alt="" />
                        </div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                </div>
            </footer>
        </content>
    </container>





</body>

</html>
